<md-nav-bar
  md-selected-nav-item="'note-new'"
  nav-bar-aria-label="navigation links">
  <md-nav-item md-nav-sref="notes"><</md-nav-item>
  <md-nav-item md-nav-sref="note-new" name="note-new">{{ header | translate }}</md-nav-item>
</md-nav-bar>
<md-content class="md-padding noteContent">
  <md-loader></md-loader>
  <form name="noteForm" class="noteForm" novalidate>
      <md-input-container class="md-block" md-form-error>
        <label translate>NOTES.NAME</label>
        <input md-maxlength="20"
            tabindex="0"
            name="name"
            ng-model="note.name"
            required/>
        <div class="hint"
            ng-if="!noteForm.name.$touched && !note.name"
            translate>NOTES.NAME.HINT</div>
        <div ng-messages="noteForm.name.$error"
            ng-if="noteForm.name.$touched">
            <div ng-if="noteForm.name.$error.required"
                class="md-input-message-animation"
                ng-message="required"
                translate>NOTES.NAME.REQUIRED</div>
            <div ng-if="noteForm.name.$error['md-maxlength']"
                class="md-input-message-animation"
                ng-message="md-maxlength"
                translate>NOTES.NAME.MAX_LENGTH</div>
        </div>
      </md-input-container>
      <md-input-container class="md-block" md-form-error>
        <md-quill name="content"
            ng-model="note.content"
            max-length="250"
            required></md-quill>
        <div ng-messages="noteForm.content.$error"
            ng-if="noteForm.content.$touched">
            <div ng-if="noteForm.content.$error.required"
                class="md-input-message-animation"
                ng-message="required"
                translate>NOTES.CONTENT.REQUIRED</div>
            <div ng-if="noteForm.content.$error['md-maxlength']"
                class="md-input-message-animation"
                ng-message="md-maxlength"
                translate>NOTES.CONTENT.MAX_LENGTH</div>
        </div>
      </md-input-container>
      <md-input-container class="md-block" md-form-error>
          <label translate>NOTES.TAGS</label>
          <md-chips class="custom-chips"
               name="tags"
               secondary-placeholder="+"
               readonly="false"
               md-removable="true"
               md-max-chips="3"
               md-add-on-blur="true"
               ng-model="note.tags">
             <md-chip-template>
               <span>
                 <strong>{{$chip}}</strong>
               </span>
             </md-chip-template>
             <button md-chip-remove class="md-primary" type="button">
               <md-icon md-svg-icon="img/icons/close.svg"></md-icon>
             </button>
          </md-chips>
          <div class="hint"
              ng-if="noteForm.tags.$pristine || (note.tags.length === 0)"
              translate>NOTES.TAGS.HINT</div>
          <div ng-messages="noteForm.tags.$error"
              ng-if="!noteForm.tags.$pristine">
              <div ng-if="noteForm.tags.$error['md-max-chips']"
                  class="hint-warn"
                  ng-message="md-max-chips"
                  translate>NOTES.TAGS.MAX_LENGTH</div>
          </div>
      </md-input-container>
      <div class="btn-container" layout="row" layout-align="end center">
          <md-button ui-sref="notes" class="">
              <span translate>COMMON.CANCEL</span>
          </md-button>
          <md-button ng-click="saveNote()" class="md-raised md-primary">
              <span translate>COMMON.SAVE</span>
          </md-button>
      </div>
  </form>
</md-content>
