<md-content flex layout-fill layout-padding class="content">
    <form name="noteForm" class="noteForm" novalidate>
        <h2 translate>{{header}}</h2>
        <md-input-container class="md-block" flex-gt-sm md-form-error>
          <label translate>NOTES.NAME</label>
          <input md-maxlength="20"
              tabindex="0"
              name="name"
              ng-model="note.name"
              required/>
          <div class="hint" ng-if="!noteForm.name.$touched && !note.name" translate>NOTES.NAME.HINT</div>
          <div ng-messages="noteForm.name.$error" ng-if="noteForm.name.$touched && noteForm.name.$error">
            <div ng-if="noteForm.name.$error.required" ng-message="required" translate>NOTES.NAME.REQUIRED</div>
            <div ng-if="noteForm.name.$error['md-maxlength']" ng-message="md-maxlength" translate>NOTES.NAME.MAX_LENGTH</div>
          </div>
        </md-input-container>
        <md-input-container class="md-block" md-form-error>
          <label translate>NOTES.CONTENT</label>
          <textarea ng-model="note.content"
              tabindex="1"
              name="content"
              md-maxlength="150"
              rows="5"
              md-select-on-focus
              required></textarea>
          <div ng-messages="noteForm.content.$error" ng-if="noteForm.content.$touched && noteForm.content.$error">
              <div ng-if="noteForm.content.$error.required" ng-message="required" translate>NOTES.CONTENT.REQUIRED</div>
              <div ng-if="noteForm.content.$error['md-maxlength']" ng-message="md-maxlength" translate>NOTES.CONTENT.MAX_LENGTH</div>
          </div>
        </md-input-container>
        <div class="btn-container" layout="row" layout-align="end center">
            <md-button ng-href="{{preUrl}}/notes" class="">
                <span translate>COMMON.CANCEL</span>
            </md-button>
            <md-button ng-click="saveNote()" class="md-raised md-primary">
                <span translate>COMMON.SAVE</span>
            </md-button>
        </div>
    </form>
</md-content>
