node_modules
coverage
.coveralls.yml
npm-debug.log
platforms/*
plugins/*
www/index.html
www/js/*.js
www/js/localStorageTemp
www/css/index.css
.vs/*
bld/*
bin/*
taco.json
*.jsproj
*.jsproj.user
*.sln
info.txt
!.gitkeep
! www/js
