<md-button class="md-button-toggle"
  ng-click="toggle()"
  aria-controls="docs-menu-{{section.label}}"
  aria-expanded="{{isOpen()}}">
  <div flex layout="row">
    <span translate>{{section.label}}</span>
    <span flex></span>
    <span aria-hidden="true" class="md-toggle-icon"
    ng-class="{'toggled' : isOpen()}">
      <md-icon md-svg-icon="img/icons/up-arrow.svg"></md-icon>
    </span>
  </div>
</md-button>
<ul id="nav-menu-{{section.label}}" class="menu-toggle-list">
  <li ng-repeat="page in section.pages">
    <nav-link section="page"></nav-link>
  </li>
</ul>
