<md-content layout-padding="">
    <section ng-if="(section === 'preferences')">
        <md-input-container class="md-block">
            <label translate>NAV.PREFERENCES.LANGUAGE</label>
            <md-select ng-model="vm.selectedLang"
                ng-change="vm.changeLang()"
                aria-label="Filter field">
                <md-option
                    ng-repeat="language in vm.languages"
                    ng-value="language">{{ 'LANGUAGES.'+language | translate }}</md-option>
            </md-select>
        </md-input-container>
    </section>
</md-content>
