$text-color: rgb(0,0,0);
$back-color: rgb(255,255,255);
$highlight-color: rgb(33,33,33);
//settings respond-to
$break-small: 430px;
$break-medium: 740px;
$break-large: 960px;
$break-xlarge: 1200px;

@import 'mixins';
@import 'angular-material/angular-material.scss';
@import 'md-grid/md-grid';
@import 'md-d3-graph/md-d3-graph';
@import 'md-quill/md-quill';
@import 'material-helper';
@import 'root/loader/loader';
@import 'nav/nav';
@import 'tags/error/error';
@import 'tags/notes/notes';

@include scrollbar(.5em, $highlight-color);

body{
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: $text-color;
  background-color: $back-color;
}
.navContent {
  overflow: inherit;
}
.content {
    margin: 0 auto;
    @include respond-to(wide-screens) {
        max-width: $break-large;
    }
    @include respond-to(xwide-screens) {
        max-width: $break-xlarge;
    }
}
.video-ext {
  width: -moz-available;
  width: -webkit-fill-available;
}
