.noteForm {
    margin: 0px auto;
    @include respond-to(handhelds) { width: 86%; }
    @include respond-to(small-screens) { width: 80%; }
    @include respond-to(medium-screens) { width: 78%; }
    @include respond-to(wide-screens) { width: 75%; }
    @include respond-to(xwide-screens) { width: 844px; }
    h2 {
        margin-bottom: 40px;
    }
}
.noteContent {
  overflow: inherit;
}
